/** start style of general proberites */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

::-webkit-scrollbar{
    width: 0px;
}

:root{
    --inline:inline;
    --height:100vh;
    --padding:10px;
    --margin:20px;
    --transparent:transparent;
    --color:white;
}

@font-face {
    font-family: text;
    src: url(soria.ttf);
}

::selection{ background-color: var(--color); color: #ffeedc}



/** end style of general proberites */

/** start style of body */

body{background-color: #011127;}

/** end style of body */

/** start style of nav */

nav{
    width: 100%;
    height: 10%;
    padding: var(--padding);
    padding-top: 23px;
    background-color: rgba(255, 255, 255, 0.6);
    backdrop-filter:blur(3px) ;
    border-radius: 30px;
    display: flex;
    justify-content: flex-start;
    position: fixed;
    user-select: none;
    z-index: 1
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

nav label a img{
    width: 60px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
}

nav ul li{
    width: fit-content;
    display: inline;
    margin-left: 50px;
}

nav ul li:first-child{
    margin-left: 80px;
}

.light{
    color: rgb(96, 49, 19);
    background-color: transparent;
    position: absolute;
    top: 15px;
    right: 220px;
}

.light:hover{
    color: rgb(255, 117, 5);
}

body svg{
    height: 30px;
}

.language{
    color: rgb(96, 49, 19);
    position: absolute;
    top: 18px;
    right: 35px;
}

body div a,
nav ul li a{
    text-decoration: none;
    color: white;
    text-shadow: 3px 3px 3px #16263b;
    font-weight: bold;
    padding: 3px 4px;
    border-radius: 4px;
    }

body div a,
nav ul li a:hover{
    color: #16263b;
    text-shadow: 3px 3px 3px #16263b;
}

body .dnav{
    padding: 3px 0 0 5px;
    display: inline-block;
    background-color: #011127 ;
    border-radius: 50px;
    position: fixed;
    right: 90px;
    top: 20px;
    z-index: 999999;
}

body div a:first-child{
    color: var(--color);
    border-radius: 50px 0 0 50px;
    background-color: transparent;
    text-shadow: 0 1px 3px var(--color);
}

body div a:last-child{
    background-color: var(--color);
    border-radius: 150px 50px 50px 0;
    text-shadow: 0 1px 3px #16263b;
}

/** end style of nav */

/** start style of section interface */

.interface{
    width: 100%;
    height: var(--height);
    background-image: url(../../Governorates/photo/Home/IMG_4773.JPG);
    background-size: cover;
    display: flex;
    justify-content: center;
}

.interface h1{
    font-size: 110px;
    color: #ffff;
    font-style: italic;
    font-family: text;
    text-shadow: 4px 4px 4px #16263b;
    justify-content: center;
    align-content: center
}

/** end style of section interface */

/** start style section of unique events*/

.unique-events{
    margin: 110px 0;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
    gap: 35px 35px
}

.unique-events article{
    width: 300px;
    padding: 20px;
    margin: 10px auto;
    background-size: cover;
    border-radius: 50% 0
}

.unique-events article:hover{
    box-shadow: 7px 7px 5px #16263b;
    transform: scale(1.2);
    transition: transform 0.8s;
}

.unique-events article h3{float: right;color:white;}

.unique-events article p{
    width: 200px;
    color: whitesmoke;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: left;
    margin: 110px 0 0 20px;
}

/** end style section of unique events*/

/** start style section of offers*/

.offers{padding: var(--padding)}

.offers article{
    width: 100%;
    height: 290px;
    margin-bottom: var(--margin);
    padding: var(--padding);
    background-size: cover;
    border-radius: 20px;
    color: var(--color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative
}

.offers article:hover{box-shadow: 8px 16px 10px #16263b}

.offers article div{margin: 30px}

.offers article div h3{
    width: 25%;
    height: 40px;
    padding: var(--padding);
    margin: -10px 0 40px -30px;
    font-size: 40px;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.offers article p{
    padding: 10px;
    color: rgb(243, 221, 188);
    font-size: 20px;
    border-radius: 30px;
    backdrop-filter: blur(50px);
}

.offers article div p:first-of-type{
    font-size: 70px;
    border-bottom: 1px solid rgb(243, 221, 188);
    backdrop-filter: none;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 10px
}

/** end style section of offers*/
/** start style section of best rating*/

.cards{display: flex; flex-wrap: wrap;}

.cards article{
    margin: var(--margin) auto;
    width: calc(95% / 3);
    height: 400px;
    perspective: 1000px
}

.cards article .card{
    position: relative;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.cards article .card:hover{transform: rotateY(180deg)}

.cards article .card .face{
    width: 100%;
    height: 100%;
    color: var(--color);
    position: absolute;
    backface-visibility: hidden;
    overflow: scroll;
}

.cards article .card .front{
    width: 100%;
    height: 300px;
    color: white;
    background-size: cover;
    position: absolute
}

.cards article .card .front:hover{transform: translateY(180deg)}

.cards article .card .front p{font-size: 40px}

.cards article .card .front p:first-of-type{
    position: absolute;
    right: 10px;
    top: 10px
}

.cards article .card .front p:last-of-type{
    position: absolute;
    left: 10px;
    bottom: 10px
}

.cards article .card .back{
    width: 100%;
    height: 300px;
    background-size: cover;
    transform: rotateY(180deg);
    position: relative
}

.cards article .card .back div{
    position: relative;

}

.cards article .card .back div img{
    width: 40px;
    height: 40px;
    margin: var(--margin) 0 0 5px;
    border-radius: 50%
}

.cards article .card .back div p{
    padding: 20px;
}

.cards article .card .back div p:first-of-type{
    color: white;
    background-color:  #16263b;
    font-size: 20px;
    display: inline-block;
    position: absolute;
    margin: 20px 5px;
    padding: 10px;
    border-radius: 30px;
}

.cards article .card .back div p:last-of-type{
    margin: 5px;
    padding: 10px;
    border-radius: 30px;
    background-color: #010a18;
}

.cards article .card .back div svg{
    position: absolute;
    top: 110px;
    right: 20px;
}

/** end style section of best rating*/

/** start of section of the cheapest */

.cheapest{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cheap-box{
    width: 350px;
    height: 450px;
    padding: 10px;
    border-radius: 50% 50% 0 0;
    box-shadow: 0 0 10px #16263b;
    position: relative;
    overflow: hidden;
}   

.cheap-box img{
    width: 100%;
    height: 100%;
    border-radius: 50% 50% 0 0;
}

.cheap-box div{
    padding: 10px;
    width: 90%;
    margin: auto;
    color: var(--color);
    border-radius: 20px;
    box-shadow: 0 0 5px #16263b;
    background-color: #010a18;
    position: absolute;
    opacity: 0;
    bottom: -120px;
    right: 0;
    left: 0;
}

.cheap-box:hover div{
    animation: show-data 1s forwards;
    opacity: 1;
    transition: opacity 0.3s;
}

.cheap-box:hover{
    animation: remove-overflow 2s forwards;
}

.cheap-box:not(:hover){
    animation: show-overflow 2s forwards;
}

.cheap-box:not(:hover) div{
    animation: remove-data 2s forwards;
}

/** start of footer */

/** general */

footer{
    margin-top: 30px;
    padding: 20px;
    border-radius: 60% 60% 0 0;
    background-color: #011127
}

footer .logoo{
    display: flex;
    justify-content: center;
}

footer .logoo img{
    width: 200px;
    height: 200px;
    margin-bottom: 50px;
    border-radius: 50%;
}

footer .father{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .father .general{
    width:420px;
    padding: 25px;
    margin: 0 10px;
    background-color:#010a18;
    display: flex;
    flex-wrap: wrap;
    box-shadow: 0px 0px 4px #294468;
    color: aliceblue;
    
}

footer .father .general .head{
    width: 100%;
    margin: 20px auto;
    font-size: 40px;
    color: white;
    text-align: center;
    text-transform: capitalize;
    text-decoration: underline;
}

footer .father .general ul{
    list-style-type: none;
}

/** start block one */

footer .father .foot1{
    border-radius: 120px 0 0 120px;
}

/** start block two */

footer .father .foot2 ul{
display: flex;
flex-wrap: wrap;
}

footer .father .foot2 ul li{
    width: calc(50% - 10px);
    text-transform: capitalize;
}

/** start block three */

footer .father .foot3{
    border-radius: 0 120px 120px 0;
}

footer .father .foot3 ul{
    display: flex;
    flex-wrap: wrap;
}

footer .father .foot3 ul li{
    width: calc(50% - 10px);
    margin: 5px;
    background-color: #16263b;
    border-radius: 25px;
    text-transform: capitalize;
    display: flex;
}

footer .foot3 ul li img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

footer .father .foot3 ul li a{
    background-color: transparent;
    color:white;
    align-content: center;
}

/** start block four */

footer .foot4{
    background-color: #010a18;
    box-shadow: 0px 0px 4px #294468;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

footer .foot4 img{
    width: 90px;
    height: 90px;
    margin: 15px;
    border-radius: 50%;
    float: left;
}

footer .foot4 p{
    margin-left: 50px;
    font-size: 40px; 
    color: white;
}

footer .foot4 .container{
    margin: 60px;
}

footer .foot4 .container a{
    background-color: transparent;
}

/** start after blocks */

footer .phrase{
    margin: 20px 0;
    font-size: 33px;
    text-align: center;
    color: white;
    text-transform: capitalize;
    font-style: italic;
}


/** end of footer */


@keyframes show-data {
    50%{
        transform: translateY(-120px);
    }
    100%{
        transform: translateY(-80px);
    }
}

@keyframes remove-overflow {
    to{
        overflow: initial;
    }
}

@keyframes remove-data {
    0%{
        transform: translateY(-80px);
    }
    50%{
        transform: translateY(-120px);
    }
    100%{
        transform: translateY(160px);
    }
}

@keyframes show-overflow {
    0%{
        overflow: initial;
        pointer-events: none;
    }
    50%{
        overflow: hidden;
    }
}

/** end of section of the cheapest */

/** start style of section of cities */

.i-section{
    padding: var(--padding);
    margin: 80px 0;
    background-color: var(--transparent);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: #010a18;
    border-radius: 10px;
    box-shadow: 8px 8px 5px #16263b;
}

.i-section article{
    width: calc(95% / 5);
    height: 80px;
    margin: 40px auto;
    border-radius: 50px;
    background-color: var(--transparent);
    position: relative
}

.i-section article a{
    display: none;
}

.i-section article:hover a{
    display: inline;
    color: white;
    font-size: 25px;
    text-decoration: none;
    position: absolute;
    top: 25px;
    left: 10px
}

.i-section article img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: inline-block;
}

.i-section article:hover img{ transform: translateX(175px); transition: transform 1.5s}

/** end style of section of cities */


/** start of footer */



/** end of footer */

/** media queries */

/** phone */

@media only screen and (max-width: 480px)
{
    /** start style of nav */

    nav ul li{ display: var(--inline); margin-left: 10px}

    /** end style of nav */

    /** start style of cities */
    
    .i-section{
        display: flex
    }

    .i-section article{
        width: calc(90% / 2);
    }

    .i-section article:hover img{ transform: translateX(80px); transition: transform 1s;}

    .i-section article:hover a{
        font-size: 20px;
    }

    /** end style of cities */

    .cards article .card .front p{font-size: 30px}

    .cards article .card .back div svg{
        top: 255px;
    }

}

/** tablet */
@media only screen and (max-width: 768px) 
{
    /** start style of nav */
    
    nav{
        height: 90px;
    }

    nav ul li{ display: var(--inline); margin-left: 60px}

    .light{
        top: 60px;
    }

    body .dnav{
        top: 60px;
    }

    .language{
        top: 60px;
    }
    
    /** end style of nav */

    .cards article{
        width: 100%;
        margin: -10px 0 -50px 0;
    }

    .cards article .card .front p{font-size: 30px}

    .cards article .card .back div svg{
        top: 255px;
    }
}
